// Custom styles.
html,
body,
span,
p,
//h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e405b;
 
}


// Custom styles.
html,
body,

 {
  
  background: #fffaf0;
}

body {
  //background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  min-height: 100vh;
  margin: 0;
}

.sidebar-inner, .comments, .post-block, .sidebar, .header-inner{
    //background: unset;
    background: #fffaf0;
    box-shadow: #fffaf0;
}

.post-body p a{
     color: #0593d3;
     border-bottom: none;
     &:hover {
       color: #0477ab;
       text-decoration: underline;
     }
   }
   
   
// 修改网站头部颜色
.headband {
    height: 3px;
    background: transparent;
}

.site-meta {
    padding: 20px 0;
    color: #2e405b;
    background: transparent;
}
// 站点名背景
.brand{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 15px;
    padding: 0px;
}
